body, html {
	width: 100%;
	height: 90%;
	background: url(us.jpg) center center fixed;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	font-family: algerian-regular;
}
h1{
	font-weight: 3rem;
	color: #f2ffff;
}
.btn{
	background-color: #3d7129;
	border-color: black;
	border-radius: 400px;
	font-weight: 700;
	font-size: 1.2rem;
	text-transform: uppercase;
	padding: 1rem 1.5rem;
}
.btn:hover{
	background-color: #c57a8f;
}